body{
  width: 100%;
  height: 500vh;
  border: 1px solid red;
  /* text-align: center; */
}

.App{
  display: flex;
  gap: 20px;
}

ul{
  padding: 10px;
  border: 1px solid yellow;
}

li{
  cursor: pointer;
  list-style: none;
}

ul li:first-child{
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
}